<ion-view view-title="About MMSN">
  <ion-content>

    <div class="memberphotos">
        <img ng-src="img/shehata.jpg">
        <img ng-src="img/mina.jpg">
        <img ng-src="img/simona.jpg">
        <img ng-src="img/nada.jpg">
    </div>


   <button class="button button-block activated">Version 1.0.0</button>


    <div class="card">
      <ion-card>
        <ion-item>
          Mohamed Shehata
        </ion-item>
        <ion-item>
          Mina Zakaria
        </ion-item>
        <ion-item>
          Simona Soliman
        </ion-item>
        <ion-item>
          Nada Bayoumy
        </ion-item>
      </ion-card>
    </div>

<!--
    <button ion-button="" outline="" class="disable-hover button button-ios button-outline button-outline-ios" ng-reflect-outline="" style="transition: none;"><span class="button-inner">Default</span><div class="button-effect"></div></button> -->

    <!-- <button ion-button outline>Version 1.0.0</button> -->
    <!-- <div class="">
          Version Details:
          version number - 1.0.0
          copy rights reserved to - iti os 37
          contact - iti.gov.eg
    </div> -->


  </ion-content>
</ion-view>
