<ion-view view-title="Active users ">

   <ion-content class="padding">
      <ion-list>
         <!-- add a section header -->
         <ion-item class="item-divider">List of Active users</ion-item>
         <ul>
           <li ng-repeat="online in activeUsers track by $index">{{online.name}}
               <button ng-click="private(online.name);"> start private chat</button>
           </li>
           
         </ul>
            <!-- iterate thru each item in the list, use $index as item identifier -->
            <!-- <ion-item ng-repeat="activeUser in activeUsers track by $index">
            <h2>{{activeUser.username}} </h2>

            </ion-item> -->
      </ion-list>

      <button ion-button ui-sref="app.chatroom">Chatroom</button>
   </ion-content>


</ion-view>
