<ion-view view-title="Chat Room">
  <ion-content class="chatroompage">
    <div class="container">

      <div class="singlechatmessage" ng-repeat="msg in messages track by $index">
        <div class="sendername" style="">
             {{msg.name}}
         </div>


          <div style="">
            <div class="talk-bubble tri-right left-top">
              <div class="talktext">
                <p> {{msg.message}}</p>
                <!-- <p> {{msg.date}}</p> -->
                <p class="messagetiming"> {{msg.time}}</p>
              </div>
           </div>

          </div>



          </div>

      </div>


            <form novalidate name="signupForm" ng-submit="send()">
                <div class="item item-input" style="height: 10%" >
                    <input type="text" ng-model="data.message"  name="name"  placeholder="message" ng-model="title" class="messagebox">
                    <i style="color:blue" class="button button-clear icon ion-paper-airplane padding-right" ng-click="send()"></i>
                </div>
            </form>


      <!-- <strong> Online people</strong>
      <ul>
        <li ng-repeat="online in onlines track by $index">{{online}}</li>
      </ul> -->
    </div>
    <!-- <div class="container">
      <ul>
        <li ng-repeat="msg in messages track by $index">{{msg}}</li>
      </ul>




      <form novalidate name="chatForm" ng-submit="send(chatForm.$valid)">
        <div class="form-group">
          <label>Message</label>
          <textarea name="messga" ng-model="message" class="form-control" rows="8" cols="80"></textarea>
        </div>

        <button  class="btn btn-primary">Send</button>
      </form>




      <strong> Online people</strong>
      <ul>
        <li ng-repeat="online in activeUsers track by $index">{{online}}</li>
      </ul>
    </div> -->
  </ion-content>
</ion-view>
