<ion-view view-title="single Chat">
  <ion-content>
    <div class="container">


      the second person is : {{seconduser}}
      <!-- i am : {{loggedinuser.username}} -->
      i am : {{loggedinuser}}



      <!-- <ul>
        <li ng-repeat="msg in messages track by $index">{{msg.name}} : {{msg.message}}</li>
      </ul> -->

      <form novalidate name="singlechatForm" ng-submit="singlemessagesend()">
        <div class="form-group">
          <label>Message</label>
          <textarea name="singlemessage" ng-model="data.singlemessage" class="form-control" rows="8" cols="80"></textarea>
        </div>

        <button  class="btn btn-primary">Send</button>
      </form>

    </div>
  </ion-content>
</ion-view>
