/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.homepage{
background-image: url('../img/background.jpg');
background-size: cover;
background-position: center;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0,0.6);
  text-align: center;
}

.homepage .homelogin{
  position: absolute;
  top: 230px;
  margin: 10px;
  width: 93%;
  /*margin-left: 50px;*/
}



.homepage .homeregister{
  position: absolute;
  top: 300px;
  margin: 10px;
  width: 93%;
}

.homepage .input-label{
  position: absolute;
  top: 194px;
  left: 130px;
  color: white;
}

.homepage .messengerlogo{

    position: fixed;
    top: 40px;
    height: 140px;
    left: 86px;
    right: auto;
    /* margin-left: auto; */

}
.overlay:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.contents{
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

h1{
  color: #fff;
  text-align: center;
}

.homepage .item{
  border: 0;
}

.homepage .item-input{
text-align: left;
padding-left: 0;
}

.homepage .item-input span{
color: #fff;
}

.homepage input{
background: transparent;
color: #fff;
border-bottom: 1px solid #fff;
}


.registerbutton{

  position: fixed;
      bottom: 0px;
}

.item-profile {
  height: 75px;
  .item-avatar > img:first-child {
    max-width: 90px;
    max-height: 90px;

  }
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image
{
  border-radius: 0px;
}


.activeuserspage  .item-profile{
  /*border: none;*/
  /*border-bottom: solid 1px cornflowerblue;*/
}

.activeuserspage  .item-profile .item-avatar{
  /*border-bottom: solid 1px cornflowerblue;*/
}





.singlechatbutton{
  float: right;
  margin-top: -20px;
  font-size: 35px;
}


.usernameactive{
  font-size: 30px;
  color: cornflowerblue;
  margin-top: 10px;
}


.chatroompage{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}



/* General CSS Setup */
body{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.singlechatmessage{
  height: 110px;
}
.sendername{
  margin-bottom: -35px;
  color: blue;
  font-weight: bolder;
}

.messagetiming{
  font-size: 10px;
    float: right;
}


.sendbutton{
  /*float: right;*/
  border-radius: 50%;
}

.messagebox{
  /*width: 75%;*/
/*position: center;*/
/* position: fixed; */
/*margin-left: 11px;*/
border-radius: 9px;
}


.inlineblock{
  display: inline-block;
  vertical-align: top;
}


.sendanchor{
  color:blue;

}


.invisiblesendbutton{
  border: none;
  color: white;
  background-color: white;
}


.memberphotos{
  text-align: center;
  margin-top: 27px;
}

.menulogo{
      width: 40px;
      margin-left: 92px;
}
